server:
  port: 8855

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  config:
    import: "configserver:http://localhost:8888"
  application:
    name: studyit-user-service
  cloud:
    config:
      uri: http://localhost:8888
      name: studyit-user-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: Vk7xj2Ga8XBYQnCk9B8alfd0fdx8ajJ4Oj3eNLHKxjlGid4gbwWmZVef1HDwiSWGzAYghtUUObbwwpfUtBV8ZA==
  expiration: 86400000
  refresh-expiration: 604800000

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, beans, httpexchanges
